*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***** UTILITY *****/

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    margin: 10px;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

/***** HEADER *****/

header{
    background-color: rgb(48, 128, 255);
    padding: 20px;
    color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row-header{
    width: 100%;
    display: flex;
}

.button-header{
    background-color: white;
    padding: 10px;
    border-radius: 50px
}

/***** MAIN *****/

/* Icons-texts */
.icons-text{
    margin-top: 20px;
}

/***** COLUMN *****/

.col-66,
.col-33{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-50{
    width: 50%;
}

/***** TEXT-FONT *****/

/***** ANIMATION *****/

.img-full{
    max-width: 100%;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

/***** FOOTER *****/


/***** RESPONSIVE *****/

